@import "../../SharedScss/variables";

.AddUsernameBox {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: $web-section-padding-top $web-side-space $web-section-padding-bottom;
  background-color: $clr-004;
  min-height: 65vh;
  .formRow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
    h1 {
      font-size: 20px;
      margin-bottom: 15px;
    }
    .formLabel {
      font-size: 16px;
      text-transform: capitalize;
      margin-bottom: 5px;
      &.required {
        &::before {
          content: "*";
        }
      }
    }
    .formInput {
      padding: 20px;
      flex-grow: 1;
      width: 100%;
      border-radius: 15px;
      border: 3px solid $clr-004;
      box-sizing: border-box;
    }
    &.fullWidth {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      flex-grow: 1;
      button {
        width: 130px;
        height: 35px;
        border-radius: 15px;
        border: 0;
        background-color: $clr-002;
        color: $clr-003;
        @media screen and (max-width: 480px) {
          width: 110px;
          height: 30px;
        }
      }
    }
  }
}
