@import "../../SharedScss/variables";

.SingleQuestion {
  .container {
    box-shadow: 0 5px 10px -5px $clr-001;
    padding: $web-side-space 30px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: $clr-002;
    background-color: $clr-003;
  }
}
